{% extends "layout.html" %}
{% block content %}
    <div class="flex-row">
        {% include 'user_menu.html' %}
        <div id="grow" class="content-section">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    {% if current_user.instituto.id == None %}
                    <legend class="border-bottom mb-4">Alta Colegio</legend>
                    {% else %}
                    <legend class="border-bottom mb-4">Modificar Datos</legend>
                    {% endif %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.name.label(class="form-control-label") }}
                                {% if form.name.errors %}
                                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.name(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.url.label(class="form-control-label") }}
                                {% if form.url.errors %}
                                    {{ form.url(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.url.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.url(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ form.address.label(class="form-control-label") }}
                                {% if form.address.errors %}
                                    {{ form.address(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.address.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.address(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {{ form.phone.label(class="form-control-label") }}
                                    {% if form.phone.errors %}
                                        {{ form.phone(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.phone.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.phone(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col">
                                {{ form.est.label(class="form-control-label") }}
                                {% if form.est.errors %}
                                    {{ form.est(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.est.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.est(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.state.label(class="form-control-label") }}
                                {% if form.state.errors %}
                                    {{ form.state(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.state.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.state(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ form.loc.label(class="form-control-label") }}
                                {% if form.loc.errors %}
                                    {{ form.loc(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.loc.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.loc(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.teachers.label(class="form-control-label") }}
                                {% if form.teachers.errors %}
                                    {{ form.teachers(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.teachers.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.teachers(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ form.classrooms.label(class="form-control-label") }}
                                {% if form.classrooms.errors %}
                                    {{ form.classrooms(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.classrooms.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.classrooms(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.rel_conf.label(class="form-control-label") }}
                                {% if form.rel_conf.errors %}
                                    {{ form.rel_conf(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.rel_conf.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.rel_conf(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ form.level.label(class="form-control-label") }}
                                {% if form.level.errors %}
                                    {{ form.level(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.level.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.level(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.enrollment.label(class="form-control-label") }}
                                {% if form.enrollment.errors %}
                                    {{ form.enrollment(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.enrollment.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.enrollment(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ form.fee.label(class="form-control-label") }}
                                {% if form.fee.errors %}
                                    {{ form.fee(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.fee.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.fee(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.description.label(class="form-control-label") }}
                        {% if form.description.errors %}
                            {{ form.description(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.description(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                {{ form.cover_picture.label() }}
                                {{ form.cover_picture(class="form-control-file") }}
                                {% if form.cover_picture.errors %}
                                    <div class="invalid-feedback">
                                        {% for error in form.cover_picture.errors %}
                                            <span class="text-danger">{{ error }}</span></br>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col text-right">
                                {{ form.submit(class="btn btn-outline-info") }}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}

