{% extends "layout.html" %}
{% block content %}
  <div class="flex-row">  
    {% include 'user_menu.html' %}
    <div id="grow" class="content-section">
      {% if current_user.role == 'user' %}
        <h3>Bienvenidos a Busco-Legio</h3>
        <p>Aquí podras buscar colegio según diferentes criterios y compararlos entre sí.</p>
      {% else %}
        <h3>Bienvenidos a Busco-Legio</h3>
        <p>Aquí podras ingresar un Colegio si no lo itenes o actualizar los dates del tuyo.</p>
      {% endif %}
    <div>
  </div>

{% endblock content %}