body {
    background: #056D63;
    color: #333333;
    margin-top: 6rem;
  }
  
  /*
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  */
  
  .bg-steel {
    background-color: #F53240;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link .icon:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .icon {
    background-color: transparent;
    width: 47px;
  }

  .icon:hover {
    background-color: #ffffff;
  }

  #banner {
    background-image: url("web/background.jpg");
    color: #ffffff;
  }
  .banner-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .banner-title > div {
    text-align: center;
    background-color: #1b1919d1;
  }

  .banner-links {
    display: flex;
    flex-direction: row;
    background-color: #1b1919d1;
  }

  .banner-links > div {
    text-align: center;
    flex-grow: 1;
  }

  .profile-head {
    display: flex;
    flex-direction: row
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background-color: #87BB97;
  }

  .profile-head > div {

  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  #grow {
    flex-grow: 1;
    margin-left: 20px;
  }

  .result {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background-color: #87BB97;
  }

  .result > div {
    flex-grow: 1;
  }

  .search-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .right {
    align-self: flex-end;
  }
  .content-section {
    background: #DAF5EE; 
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    word-wrap: break-word;
    width: 300px;
  }
  
  .article-img {
    height: 125px;
    width: 175px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .article-metadata {

  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .media-body {
    display: inline-flex;
    border-bottom: 1px solid #e3e3e3
  }
  
  .no-style {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
  }

  .account-img {
    height: 125px;
    width: 125px;
    margin: 10px;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
  .account-heading {
    font-size: 2.5rem;
  }
